.nav-logo {
	background-image: url('./assets/groundwrk-logo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.modal-logo {
	height: 150px;
	width: 150px;
	background-image: url('./assets/groundwrk-logo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.home-1 {
	background-image: url('./assets/gk1.jpeg');
	background-size: contain;
	background-repeat: no-repeat;
}