.nav-logo {
	background-image: url('./assets/groundwrk-logo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.modal-logo {
	height: 150px;
	width: 150px;
	background-image: url('./assets/groundwrk-logo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

.home-1 {
	background-image: url('./assets/gk1.jpeg');
	background-size: contain;
	background-repeat: no-repeat;
}

.home-2 {
  background-image: url('./assets/gk1.jpeg');
  background-size: cover;       /* fills the container */
  background-position: center;  /* centers the image */
  background-repeat: no-repeat;                /* fills the flex column height */
}



.instagram-media {
  max-width: 100% !important;
  min-width: 0 !important;
}

.instagram-media iframe {
  width: 100% !important;
  height: 100% !important;
}
